.chef__inner{
  width: 100%;
  padding: 90px 5vw 0;
}

.chef__wrapper{
  padding-bottom: 30px;
}

.chef__wrapper h2{
  background-color: white;
  width: 100%;
  font-size: 1.8em;
  padding: 2vh 2vw;
}

.chef-show-info{
  display: flex;
  justify-content: space-around;
  padding: 4vh;
}

.chef-show-table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background-color: #fff893;
  border-collapse: collapse;
  border: 1px solid  #ffe54f;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid  #ffe54f;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

#total_likes_count{
  padding: 20px 10px 10px 0;
}

.chef__content__nothing {
  width: 100%;
  font-size: 25px;
  color: gray;
  padding: 10vh 0 10vh;
  text-align: center;
}

.flash {
  text-align: center;
  background-color: #fff893;
}

.chef-page-heading {
  text-align: center;
  padding: 1vh 2vw 1vh;
  border-bottom: 4px rgb(180, 180, 180) double;
}

.page-heading{
  border-bottom: 4px gold double;
}
