* {
  box-sizing: border-box;
}

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 2px rgb(226, 226, 226) solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu-icon {
  width:  25px;
  height: 25px;
  margin: 35px 0px 10px 30px;
}

.nav {
  font-size: 20px;
  display: flex;
  margin-left: 45vw;
  justify-content: space-between;
  width: 55vw;
  padding: 0;
}

.header-logo {
  width: 160px;
  height: 90px;

}

.nav-user {
  display: flex;
  list-style: none;
  margin-right: 10px;
  margin-top: 25px;
}


.post-btn{
  display: inline-block;
  padding: 0.6em 1.8em;
  font-size: 0.7em;
  color: black;
  text-decoration: none;
  user-select: none;
  background-color: white;
  border: 0.12em gray solid;
  border-radius: 20px;
  transition: 0.4s ease;
  margin-right: 1em;
}

.post-btn:hover {
  background: #ffe54f;
}

#nav{
  position: absolute;
  height: 100vh;
  width: 25%;
  left: -25%;
  opacity: 0.9;
  top: 0;
  background: #ffffff;
  transition: .7s;
}
#nav ul{
  padding-top: 80px;
  text-align: center;
}
#nav ul li{
  list-style-type: none;
  font-size: 20px;
}
#nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 2vh 5vw;
  padding: auto;
  transition: .5s;
}
#nav li a:hover{
  background:#ffe54f;
}
#hamburger {
  display: block;
  position: absolute;
  top: 35px;
  left: 30px;
  width: 25px;
  height: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #000000;
  transition: 0.5s;
  border-radius: 4px;
}
#line1 {
  top: 0;
}
#line2 {
  top: 10px;
}
#line3 {
  bottom: 0px;
}

.in{
  transform: translateX(100%);
}

.line_1,.line_2,.line_3{
  background: #000000;
}
.line_1 {
  width: 12px;
  -webkit-transform: translate(-0.5px,6.5px) rotate(-33deg);
  transform: translate(-0.5px,6.5px) rotate(-33deg);
  }
.line_2 {
  width: 30px;
}
.line_3 {
  width: 12px;
  -webkit-transform: translate(-0.5px,-6.5px) rotate(33deg);
  transform: translate(-0.5px,-6.5px) rotate(33deg);
}

@media screen and (max-width: 480px) {
  #nav ul li {
    font-size: 14px;
  }
}