<div class='footer'>
  <div class='footer-main'>
    <div class="legal-text">
      <%= link_to "利用規約", "#" %>
      |
      <%= link_to "プライバシー規約", "#" %>
    </div>
  </div>
  <div class="copyright">
    <p> © 2020 Gravy Inc.</p>
  </div>
</div>