
<div class='second-footer'>
  <div class='second-footer-main'>
      <div class='second-footer-details'>
          <%= link_to 'Gravy利用規約', "#", class: "second-footer-link" %>
          <%= link_to '会社概要（運営会社)', "#", class: "second-footer-link" %>
          <%= link_to 'プライバシーポリシー', "#", class: "second-footer-link" %>
          <%= link_to '食品衛生法に関する規約', "https://elaws.e-gov.go.jp/document?lawid=322AC0000000233", class: "second-footer-link" %>
      </div>
  </div>
  <div class="copyright">
    <p id="privacy"> This site is protected by Privacy Policy and Terms of Service apply.</p>
    <p> © 2020 Gravy Inc.</p>
  </div>
</div>
