a {
  color:black;
}

#gravy{
  min-width:1000px;
  font: black;
}

.gravy-home {

  width: 100%;
  position: relative;
  background-color: #ffe54f;
  z-index: -300;
}

.gravy-wrap{
  position: relative;
  min-height: 45%;
  min-width: 100%;
  height: 98vh;
  width: 100%;
  background: linear-gradient(20deg, rgba(83, 83, 83, 0.4), rgba(104, 98, 98, 0.6));
  overflow: hidden;
  border-bottom: 1.5px gray solid;
}

#gravy-video{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  height: 100vh;
  z-index: -100;
}

.gravy-wrap .gravy-text{
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /*上下左右中央寄せ*/
  text-align:center;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.0);
}

.gravy-wrap .gravy-text .gravy-copy{
  font-size: 5vh;
}

.gravy-wrap .gravy-text .gravy-search{
  margin-top: 3vh;
  font-size: 3vh;
}


/* イントロダクション*/

#mobile-app-intro {
  height: 300px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px

}

.gravy-native-logo {
  width: 120px;
  height: 120px;
  border: 0.5px gray solid;
  border-radius: 20px;
  box-shadow: 2px 2px 5px;
  margin-left: 2vw;
}

#native-app-catchcopy {
  margin-left: 30px;
  font-size: 2em;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.logo-size-trimming {
  width: 170px;
  height: 70px;
  margin-bottom: 20px;
}

#service-introduction {
  width: 100%;
  margin-bottom: 5vh;
  padding: 40px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.service-introbox{
  text-align: center;
  font-size: 1.5em;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.gravy-intro-image {
  width: 500px;
  height: 400px;
}

.intro-link {
  font-size: 2vh;
  margin: 1vh 0;
  color: #222222;
  font-weight: 400;
  text-decoration: underline;
}

.intro-link:hover {
  text-decoration: none;
}

/* //イントロダクション */


/* 料理一覧 (シェフ一覧と共通)*/

.dish-contents {
  width: 100%;
  background-color: white;
  padding: 2vh 3vw 2vh;
}

.recent-dishes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1vh 2vw 1vh;
  border-bottom: 5px gold double;
  margin-bottom: 10px;
}

.dish-contents .title {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 3.5vh;
  line-height: 1.2;
  color: #222222;
  font-weight: 400;
}

.subtitle {
  font-size: 2vh;
  margin: 1vh 0;
  color: #222222;
  font-weight: 400;
}

.subtitle:hover {
  text-decoration: underline;
}


.dish-lists{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin: 3vh 2vh 1vh;
}

.dish-lists>.list {
  display: inline-block;
  width: 30vh;
  padding: 2vh 1.5vw 0.5vh;
  background-color: white;
  margin: 0.5vh;
  border: 1px rgb(180, 180, 180) solid;
}

.dish-lists>.list:hover {
  border: 1px rgb(39, 39, 39) solid;
}

.dish-img-content {
  position: relative;
}

.dish-img {
  width: 25vh;
  height: 25vh;
  border: 1px gray solid;
  background-color: white;
}

.dish-img:hover {
  border: 1px rgb(39, 39, 39) solid;
}

.dish-info {
  box-sizing: border-box;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5vh 0;
  margin-top: 1vh;
}



.dish-name {
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2vh;
  margin-bottom: 5px;
}

.dish-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.heart-icon-align {
  display: flex;
  align-items: center;
  width: 40px;
}

.heart-count-dishes {
  margin-left: 0.5vw;
  padding-bottom: 0.7vh;
  font-size: 2vh;

}

.heart-btn {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}

.heart-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.heart-count {
  font-size: 2vh;
}

/* //料理一覧 */

#scrollArea {
  width: 200px;
  overflow: auto;
  border: solid 1px #aaa;
}
#inner {
  width: 2000px;
  height: 40px;
}

