/* border-bottom: 1px solid #eee; */


.items-sell-contents {
  background-color:#ffeb7a;
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  padding: 3vh;
}

.items-sell-main {
  background-color: #FFF;
  width: 40vw;
  min-width: 450px;
  padding: 5vh 5vw;
  opacity: 0.90;
  margin: auto;
  border-radius: 20px;

}

.items-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}


.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 70%;
  background-color: #f5f5f5;
  opacity: 0.8;
  padding-left: 10px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

/* /共通 */

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  padding: 4vh 0;
}

.select-box {
  margin: 2vh 0;
}

.sell-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

/* /販売価格 */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
  
}

.sell-btn {
  background:#f0c14b;
  border: 1px solid #f0c14b;
  border-radius: 10px;
  color: black;
  width: 50%;
  height: 60px;
  font-size: 16px;
  margin-bottom: 4vh;
  border-radius: 10px;
}

.back-btn {
  background: #222222;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: white;
  padding: 15px;
  text-decoration: none;
}