/* 商品の概要 */

.dish-show {
  box-sizing: border-box;
  background-color:#ffeb7a;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.dish-box {
  background-color: #FFF;
  width: 80vw;
  min-width: 500px;
  margin: 8vh 5vw 2vh;
  padding: 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dish-show-info {
  width: 100%;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 2vh;
}

.dish-box-img {
  height: 25vh;
  width: 25vw;
  min-height: 400px;
  min-width: 400px;
  background-color: white;
  object-fit: contain;
  border: 1px gray solid;
}

.dish-price-box {
  width: calc(100% - 25vw);
  margin: 1vh 1vw;
  display: flex;
  word-break : break-all;
  align-items: center;
  flex-direction: column;
}

.dish-price-box>.dish-show-name {
  font-size: 3vh;
  padding-bottom: 1vh;
  font-weight: bold;
}

.dish-price-box>.dish-price {
  font-size: 2.5vh;
  font-weight: bold;
}

.dish-price-box>.dish-genre {
  padding-bottom: 1vh;
  font-size: 2vh;
}

.dish-price-box>.dish-about {
  display: block;
  padding-bottom: 1vh;
  font-size: 2vh;
}

.dish-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.dish-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.dish-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.table_with_likes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detail-table {
  margin-bottom: 30px;
  width: 70%;
}

.detail-dish {
  width: 20%;
  background-color: #fff893;
  border: 1px solid  #ffe54f;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 30%;
  padding: 20px;
  border: 1px solid #ffe54f;
  font-size: 14px;
}

#likes-num {
  font-size: 1.8vh;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

.option {
  width: 200px;
  margin: 0 auto;
}

.same-genre-dishes {
  display: block;
  margin: 30px 0px 8px;
  color: #222222;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.same-genre-dishes:hover {
  text-decoration: underline;
}