<%= render "shared/header" %>

<div class="cart">
  <div class="cart-content">
    <div class="cart__content__title">
      選択されている料理
    </div>
      <div class="cart__content__nothing">
        Your basket is empty...
        <div class="nothing-in-cart">
        <%= image_tag "basket.png", size: '320x320'%>
        </div>
      </div>
  </div>
</div>