<% if user_signed_in? %>
  <% if current_user.liked_by?(dish.id) %>
    <div class="heart-icon-align">
      <%= link_to image_tag("heart_filled.png", size: '20x20'), destroy_like_path(dish), method: :DELETE, remote: true %>
    </div>
  <% else %>
    <div class="heart-icon-align">
      <%= link_to image_tag("heart.png", size: '20x20'), create_like_path(dish), method: :POST, remote: true %>
    </div>
  <% end %>
<% else %>
  <div class='heart-btn-non-user'>
    <%= image_tag "heart.png", :size =>'20x20', class:"heart-icon" %>
  </div>
<% end %>
