<%= render "shared/header"%>
<div class="top-space">
</div>


<div class="gravy-home">   
  <div class="gravy-wrap">
    <div class="gravy-text">
      <p class="gravy-copy">隠れた名シェフを発掘しませんか？</p>
      <p class="gravy-search">まずは地域を教えてください</p>
    </div>
  
    <video id="gravy-video" muted autoplay loop>
      <source src="/assets/family_cooking.mp4" type="video/mp4">
    </video>
  </div>
  <div class="howto">

  </div>
</div>

<%= render "shared/footer" %>
