.cart {
  width: 100%;
  padding-top: 100px;
  margin: auto;
}

.flash-cart{
  padding-top: 95px;
  text-align: center;
  background-color: #fff893;
}

.cart-content {
  width: 70%;
  border: 3px #ffeb7a double;
  margin: 54px auto;
  z-index: -9999;
  text-align: center;
  padding: 0 10vw 5vh;
}


.cart__content__title {
  font-size: 1.7em;
  color: #3b3b3b;
  padding: 2vh 0 0;
}

.cart-choices {
  display: flex;
  justify-content: center;
}

.cart-choice {
  border-bottom: 1px black solid;
  color: black;
  line-height: 32px;
  font-size: 20px;
  cursor: pointer;
  padding: 0.5px;
  margin: 10px;
}
.cart-choice:hover{
border:0px white solid;
}

.cart__content__nothing {
  width: 100%;
  font-size: 25px;
  color: gray;
  padding: 10vh 0 14.3vh;
}

.nothing-in-cart {
  margin: 3.5vh;
}

.cart__content__something {
  width: 100%;
  font-size: 25px;
  color: gray;
  padding: 1vh 0 5vh;
}

.dish-show-info-cart {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 2vh;
  margin-bottom: 2vh;
}

.dish-box-img-cart {
  height: 10vh;
  width: 10vw;
  min-height: 200px;
  min-width: 200px;
  background-color: white;
  object-fit: contain;
  border: 1px gray solid;
  margin: 20px 10px 20px 0;
}

.cart-table {
  color: black;
  font-size: 18px;
  width: 100%;
} 

.cart-table a{
  text-decoration: underline;
} 

.cart-table a:hover{
  text-decoration: none;
} 

.cart-table th{
  text-align: center;
  padding: 50px 30px 10px;
  border-bottom: 1px black solid;
}

.cart-table td table{

}

.cart-order-btn {
  text-align: center;
  background-color: #222222;
  font-size: 16px;
  color: white;
  margin: 20px 0px;
  padding: 1vh 10vw;
  height: 50px;
}

#cross-btn img{
  width: 20px;
  height: 20px;
}

.form__cart {
  text-align: center;
  width: 42px;
}

.form__cart__btn {
  padding: 0 5px;
  color: white;
  background-color: #222222;
}

.chef_info_with_cart {
  display: flex;
  width: 100%;
}

.cart__chef__title {
  font-size: 1.7em;
  color: #3b3b3b;
  padding: 5vh 0 2vh;
}

.middle_blank {
  width: 30px;
}